USE [master]
GO
/****** Object:  Database [BD_SGCLAP]    Script Date: 22/07/2020 01:53:09 ******/
CREATE DATABASE [BD_SGCLAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SGCLAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_SGCLAP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SGCLAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BD_SGCLAP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SGCLAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SGCLAP]
GO
USE [BD_SGCLAP]
GO
/****** Object:  Table [dbo].[T_Cita]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Cita](
	[PK_IC_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VC_Observacion] [varchar](300) NULL,
	[DC_FechaHoraSolicitada] [smalldatetime] NOT NULL,
	[DC_FechaHoraCreada] [smalldatetime] NOT NULL,
	[DC_FechaHoraReprogramada] [smalldatetime] NULL,
	[FK_ITC_Cod] [int] NOT NULL,
	[FK_IEC_Cod] [int] NOT NULL,
	[FK_CU_Dni] [char](8) NOT NULL,
 CONSTRAINT [PK_T_Cita] PRIMARY KEY CLUSTERED 
(
	[PK_IC_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Congelamiento]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Congelamiento](
	[PK_ICo_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VC_Nombre] [nvarchar](100) NOT NULL,
	[VC_CantidadDias] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_T_Congelamiento] PRIMARY KEY CLUSTERED 
(
	[PK_ICo_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Contrato]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Contrato](
	[PK_IC_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VC_Descripcion] [nvarchar](200) NOT NULL,
	[DC_Fecha_Creacion] [datetime] NOT NULL,
	[FK_IEC_Cod] [int] NOT NULL,
	[FK_IP_Cod] [int] NOT NULL,
	[FK_CU_Dni] [char](8) NULL,
	[DC_Fecha_Inicio] [datetime] NOT NULL,
	[DC_Fecha_Evaluacion] [datetime] NULL,
 CONSTRAINT [PK_T_Contrato] PRIMARY KEY CLUSTERED 
(
	[PK_IC_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Estado_Cita]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Estado_Cita](
	[PK_IEC_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VEC_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Estado_Cita] PRIMARY KEY CLUSTERED 
(
	[PK_IEC_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Estado_Contrato]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Estado_Contrato](
	[PK_IEC_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VEC_Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_T_Estado_Contrato] PRIMARY KEY CLUSTERED 
(
	[PK_IEC_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Estado_Plan]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Estado_Plan](
	[PK_IEP_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VEP_Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_T_Estado_Plan] PRIMARY KEY CLUSTERED 
(
	[PK_IEP_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Frecuencia]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Frecuencia](
	[PK_IF_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VF_Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_T_Frecuencia] PRIMARY KEY CLUSTERED 
(
	[PK_IF_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Membresia]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Membresia](
	[PK_IM_Cod] [int] IDENTITY(1,1) NOT NULL,
	[Im_Duracion] [int] NOT NULL,
 CONSTRAINT [PK_T_Membresia] PRIMARY KEY CLUSTERED 
(
	[PK_IM_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Plan]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Plan](
	[PK_IP_Cod] [int] IDENTITY(1,1) NOT NULL,
	[IP_Cantidad_Sesion_Fisio] [int] NOT NULL,
	[IE_Cantidad_Sesion_Nutri] [int] NOT NULL,
	[FK_IM_Cod] [int] NOT NULL,
	[FK_IF_Cod] [int] NOT NULL,
	[FK_ICo_Cod] [int] NOT NULL,
	[FK_IEP_Cod] [int] NULL,
	[DP_Costo] [float] NOT NULL,
 CONSTRAINT [PK_T_Plan] PRIMARY KEY CLUSTERED 
(
	[PK_IP_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Tipo_Cita]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Tipo_Cita](
	[PK_ITC_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VTC_Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Tipo_Cita] PRIMARY KEY CLUSTERED 
(
	[PK_ITC_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Tipo_Usuario]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Tipo_Usuario](
	[PK_ITU_Cod] [int] IDENTITY(1,1) NOT NULL,
	[VTU_Rol_Usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Tipo_Usuario] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[PK_CU_Dni] [char](8) NOT NULL,
	[VU_Nombre] [varchar](50) NOT NULL,
	[VU_APaterno] [varchar](50) NOT NULL,
	[VU_AMaterno] [varchar](50) NOT NULL,
	[DU_FechaNacimiento] [datetime] NOT NULL,
	[IU_Edad] [int] NOT NULL,
	[VU_Contrasenia] [nvarchar](50) NOT NULL,
	[VU_Estado] [nvarchar](50) NULL,
	[DU_Fecha_Registro] [datetime] NOT NULL,
	[CU_Celular] [char](9) NOT NULL,
	[VU_Direccion] [varchar](200) NOT NULL,
	[VU_Correo] [varchar](50) NOT NULL,
	[FK_ITU_Cod] [int] NOT NULL,
	[IU_Citas_Nutri_Usadas] [int] NULL,
	[IU_Citas_Fisio_Usadas] [int] NULL,
 CONSTRAINT [PK_T_Usuario] PRIMARY KEY CLUSTERED 
(
	[PK_CU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_Congelamiento] ON 

INSERT [dbo].[T_Congelamiento] ([PK_ICo_Cod], [VC_Nombre], [VC_CantidadDias]) VALUES (1, N'15 dias de congelamiento', N'15')
INSERT [dbo].[T_Congelamiento] ([PK_ICo_Cod], [VC_Nombre], [VC_CantidadDias]) VALUES (5, N'30 dias de congelamiento', N'30')
SET IDENTITY_INSERT [dbo].[T_Congelamiento] OFF
SET IDENTITY_INSERT [dbo].[T_Contrato] ON 

INSERT [dbo].[T_Contrato] ([PK_IC_Cod], [VC_Descripcion], [DC_Fecha_Creacion], [FK_IEC_Cod], [FK_IP_Cod], [FK_CU_Dni], [DC_Fecha_Inicio], [DC_Fecha_Evaluacion]) VALUES (1, N'Testdt', CAST(N'2020-07-21T01:37:02.020' AS DateTime), 1, 2, N'71257736', CAST(N'2020-02-07T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[T_Contrato] ([PK_IC_Cod], [VC_Descripcion], [DC_Fecha_Creacion], [FK_IEC_Cod], [FK_IP_Cod], [FK_CU_Dni], [DC_Fecha_Inicio], [DC_Fecha_Evaluacion]) VALUES (2, N'atsertsdfsaf', CAST(N'2020-07-21T01:44:45.120' AS DateTime), 1, 2, N'71257736', CAST(N'2020-07-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[T_Contrato] ([PK_IC_Cod], [VC_Descripcion], [DC_Fecha_Creacion], [FK_IEC_Cod], [FK_IP_Cod], [FK_CU_Dni], [DC_Fecha_Inicio], [DC_Fecha_Evaluacion]) VALUES (3, N'Test', CAST(N'2020-07-21T01:47:17.870' AS DateTime), 1, 2, N'71257736', CAST(N'2020-07-24T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[T_Contrato] OFF
SET IDENTITY_INSERT [dbo].[T_Estado_Contrato] ON 

INSERT [dbo].[T_Estado_Contrato] ([PK_IEC_Cod], [VEC_Nombre]) VALUES (1, N'En revisión')
INSERT [dbo].[T_Estado_Contrato] ([PK_IEC_Cod], [VEC_Nombre]) VALUES (2, N'Aprobado, pendiente de pago')
INSERT [dbo].[T_Estado_Contrato] ([PK_IEC_Cod], [VEC_Nombre]) VALUES (3, N'Aprobado')
SET IDENTITY_INSERT [dbo].[T_Estado_Contrato] OFF
SET IDENTITY_INSERT [dbo].[T_Estado_Plan] ON 

INSERT [dbo].[T_Estado_Plan] ([PK_IEP_Cod], [VEP_Nombre]) VALUES (1, N'Habilitado')
INSERT [dbo].[T_Estado_Plan] ([PK_IEP_Cod], [VEP_Nombre]) VALUES (2, N'Deshabilitado')
SET IDENTITY_INSERT [dbo].[T_Estado_Plan] OFF
SET IDENTITY_INSERT [dbo].[T_Frecuencia] ON 

INSERT [dbo].[T_Frecuencia] ([PK_IF_Cod], [VF_Nombre]) VALUES (1, N'Interdiario')
INSERT [dbo].[T_Frecuencia] ([PK_IF_Cod], [VF_Nombre]) VALUES (2, N'Ilimitado')
SET IDENTITY_INSERT [dbo].[T_Frecuencia] OFF
SET IDENTITY_INSERT [dbo].[T_Membresia] ON 

INSERT [dbo].[T_Membresia] ([PK_IM_Cod], [Im_Duracion]) VALUES (1, 3)
INSERT [dbo].[T_Membresia] ([PK_IM_Cod], [Im_Duracion]) VALUES (2, 6)
INSERT [dbo].[T_Membresia] ([PK_IM_Cod], [Im_Duracion]) VALUES (3, 9)
SET IDENTITY_INSERT [dbo].[T_Membresia] OFF
SET IDENTITY_INSERT [dbo].[T_Plan] ON 

INSERT [dbo].[T_Plan] ([PK_IP_Cod], [IP_Cantidad_Sesion_Fisio], [IE_Cantidad_Sesion_Nutri], [FK_IM_Cod], [FK_IF_Cod], [FK_ICo_Cod], [FK_IEP_Cod], [DP_Costo]) VALUES (1, 3, 3, 1, 1, 1, 1, 2000)
INSERT [dbo].[T_Plan] ([PK_IP_Cod], [IP_Cantidad_Sesion_Fisio], [IE_Cantidad_Sesion_Nutri], [FK_IM_Cod], [FK_IF_Cod], [FK_ICo_Cod], [FK_IEP_Cod], [DP_Costo]) VALUES (2, 5, 5, 2, 2, 5, 1, 2500)
INSERT [dbo].[T_Plan] ([PK_IP_Cod], [IP_Cantidad_Sesion_Fisio], [IE_Cantidad_Sesion_Nutri], [FK_IM_Cod], [FK_IF_Cod], [FK_ICo_Cod], [FK_IEP_Cod], [DP_Costo]) VALUES (3, 3, 5, 3, 1, 1, 1, 2550)
SET IDENTITY_INSERT [dbo].[T_Plan] OFF
SET IDENTITY_INSERT [dbo].[T_Tipo_Usuario] ON 

INSERT [dbo].[T_Tipo_Usuario] ([PK_ITU_Cod], [VTU_Rol_Usuario]) VALUES (1, N'Socio')
INSERT [dbo].[T_Tipo_Usuario] ([PK_ITU_Cod], [VTU_Rol_Usuario]) VALUES (2, N'Administrador')
INSERT [dbo].[T_Tipo_Usuario] ([PK_ITU_Cod], [VTU_Rol_Usuario]) VALUES (3, N'Nutricionista')
SET IDENTITY_INSERT [dbo].[T_Tipo_Usuario] OFF
INSERT [dbo].[T_Usuario] ([PK_CU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [DU_FechaNacimiento], [IU_Edad], [VU_Contrasenia], [VU_Estado], [DU_Fecha_Registro], [CU_Celular], [VU_Direccion], [VU_Correo], [FK_ITU_Cod], [IU_Citas_Nutri_Usadas], [IU_Citas_Fisio_Usadas]) VALUES (N'71257736', N'Marcial', N'Masco', N'Masco', CAST(N'1996-10-20T00:00:00.000' AS DateTime), 23, N'123', N'Activo - SIN CONTRATO', CAST(N'2020-07-19T18:18:40.090' AS DateTime), N'987654321', N'Molina', N'marshall_002@hotmail.com', 1, 0, 0)
INSERT [dbo].[T_Usuario] ([PK_CU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [DU_FechaNacimiento], [IU_Edad], [VU_Contrasenia], [VU_Estado], [DU_Fecha_Registro], [CU_Celular], [VU_Direccion], [VU_Correo], [FK_ITU_Cod], [IU_Citas_Nutri_Usadas], [IU_Citas_Fisio_Usadas]) VALUES (N'74831448', N'Marcial Alejandro', N'Cabrejo', N'Masco', CAST(N'1996-11-25T00:00:00.000' AS DateTime), 24, N'12345', N'Activo', CAST(N'2020-07-20T00:00:00.000' AS DateTime), N'941121713', N'Molina', N'marshall_002@hotmail.com', 2, 0, 0)
ALTER TABLE [dbo].[T_Cita]  WITH CHECK ADD  CONSTRAINT [FK_T_Cita_T_Estado_Cita] FOREIGN KEY([FK_IEC_Cod])
REFERENCES [dbo].[T_Estado_Cita] ([PK_IEC_Cod])
GO
ALTER TABLE [dbo].[T_Cita] CHECK CONSTRAINT [FK_T_Cita_T_Estado_Cita]
GO
ALTER TABLE [dbo].[T_Cita]  WITH CHECK ADD  CONSTRAINT [FK_T_Cita_T_Tipo_Cita] FOREIGN KEY([FK_ITC_Cod])
REFERENCES [dbo].[T_Tipo_Cita] ([PK_ITC_Cod])
GO
ALTER TABLE [dbo].[T_Cita] CHECK CONSTRAINT [FK_T_Cita_T_Tipo_Cita]
GO
ALTER TABLE [dbo].[T_Cita]  WITH CHECK ADD  CONSTRAINT [FK_T_Cita_T_Usuario] FOREIGN KEY([FK_CU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_CU_Dni])
GO
ALTER TABLE [dbo].[T_Cita] CHECK CONSTRAINT [FK_T_Cita_T_Usuario]
GO
ALTER TABLE [dbo].[T_Contrato]  WITH CHECK ADD  CONSTRAINT [FK_T_Contrato_T_Estado_Contrato] FOREIGN KEY([FK_IEC_Cod])
REFERENCES [dbo].[T_Estado_Contrato] ([PK_IEC_Cod])
GO
ALTER TABLE [dbo].[T_Contrato] CHECK CONSTRAINT [FK_T_Contrato_T_Estado_Contrato]
GO
ALTER TABLE [dbo].[T_Contrato]  WITH CHECK ADD  CONSTRAINT [FK_T_Contrato_T_Plan] FOREIGN KEY([FK_IP_Cod])
REFERENCES [dbo].[T_Plan] ([PK_IP_Cod])
GO
ALTER TABLE [dbo].[T_Contrato] CHECK CONSTRAINT [FK_T_Contrato_T_Plan]
GO
ALTER TABLE [dbo].[T_Contrato]  WITH CHECK ADD  CONSTRAINT [FK_T_Contrato_T_Usuario] FOREIGN KEY([FK_CU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_CU_Dni])
GO
ALTER TABLE [dbo].[T_Contrato] CHECK CONSTRAINT [FK_T_Contrato_T_Usuario]
GO
ALTER TABLE [dbo].[T_Plan]  WITH CHECK ADD  CONSTRAINT [FK_T_Plan_T_Congelamiento] FOREIGN KEY([FK_ICo_Cod])
REFERENCES [dbo].[T_Congelamiento] ([PK_ICo_Cod])
GO
ALTER TABLE [dbo].[T_Plan] CHECK CONSTRAINT [FK_T_Plan_T_Congelamiento]
GO
ALTER TABLE [dbo].[T_Plan]  WITH CHECK ADD  CONSTRAINT [FK_T_Plan_T_Estado_Plan] FOREIGN KEY([FK_IEP_Cod])
REFERENCES [dbo].[T_Estado_Plan] ([PK_IEP_Cod])
GO
ALTER TABLE [dbo].[T_Plan] CHECK CONSTRAINT [FK_T_Plan_T_Estado_Plan]
GO
ALTER TABLE [dbo].[T_Plan]  WITH CHECK ADD  CONSTRAINT [FK_T_Plan_T_Frecuencia] FOREIGN KEY([FK_IF_Cod])
REFERENCES [dbo].[T_Frecuencia] ([PK_IF_Cod])
GO
ALTER TABLE [dbo].[T_Plan] CHECK CONSTRAINT [FK_T_Plan_T_Frecuencia]
GO
ALTER TABLE [dbo].[T_Plan]  WITH CHECK ADD  CONSTRAINT [FK_T_Plan_T_Membresia] FOREIGN KEY([FK_IM_Cod])
REFERENCES [dbo].[T_Membresia] ([PK_IM_Cod])
GO
ALTER TABLE [dbo].[T_Plan] CHECK CONSTRAINT [FK_T_Plan_T_Membresia]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_T_Tipo_Usuario] FOREIGN KEY([FK_ITU_Cod])
REFERENCES [dbo].[T_Tipo_Usuario] ([PK_ITU_Cod])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_Usuario_T_Tipo_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadoContrato]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ActualizarEstadoContrato]
@PK_IC_Cod int,
@FK_IEC_Cod int
as 
begin
update T_Contrato set FK_IEC_Cod=@FK_IEC_Cod  where PK_IC_Cod = @PK_IC_Cod;

end
GO
/****** Object:  StoredProcedure [dbo].[sp_DatosPlanVigenteSocio]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DatosPlanVigenteSocio]

@PK_CU_Dni char(8)
AS
begin
select cont.FK_IP_Cod,cont.DC_Fecha_Inicio,DATEADD(month, memb.Im_Duracion, cont.DC_Fecha_Creacion) AS DC_Fecha_Vencimiento, tplan.IE_Cantidad_Sesion_Nutri, tplan.IP_Cantidad_Sesion_Fisio
,memb.Im_Duracion as MembresiaDuracionString, cong.VC_CantidadDias
 as Congelamiento,frec.VF_Nombre as FrecuenciaString
from T_Contrato cont inner join T_Plan tplan
on tplan.PK_IP_Cod = cont.FK_IP_Cod inner join T_Congelamiento cong
on tplan.FK_ICo_Cod= cong.PK_ICo_Cod inner join T_Membresia memb
on tplan.FK_IM_Cod = memb.PK_IM_Cod inner join T_Frecuencia frec
on tplan.FK_IF_Cod = frec.PK_IF_Cod 
where cont.FK_IEC_Cod=3 and cont.FK_CU_Dni =@PK_CU_Dni
End
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPlanes]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListarPlanes]
as
begin 
select u.PK_IP_Cod,u.IP_Cantidad_Sesion_Fisio, u.IP_Cantidad_Sesion_Fisio,u.DP_Costo, cong.VC_CantidadDias
 as Congelamiento, memb.Im_Duracion as MembresiaDuracionString,frec.VF_Nombre as FrecuenciaString
from T_Plan u  inner join T_Congelamiento cong 
on u.FK_ICo_Cod= cong.PK_ICo_Cod inner join T_Membresia memb
on u.FK_IM_Cod= memb.PK_IM_Cod inner join T_Frecuencia frec
on u.FK_IF_Cod = frec.PK_IF_Cod 
where FK_IEP_Cod =1

end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesContratoxEstado]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarSolicitudesContratoxEstado]
@FK_IEC_Cod	int
as
begin
select cont.PK_IC_Cod,cont.VC_Descripcion,cont.DC_Fecha_Creacion,
cont.DC_Fecha_Inicio, tplan.IE_Cantidad_Sesion_Nutri, tplan.IP_Cantidad_Sesion_Fisio,
cong.VC_CantidadDias as Congelamiento,memb.Im_Duracion as MembresiaDuracionString, frec.VF_Nombre as FrecuenciaString
from T_Contrato as cont inner join T_Plan tplan
on cont.FK_IP_Cod= tplan.PK_IP_Cod inner join T_Congelamiento cong
on tplan.FK_ICo_Cod= cong.PK_ICo_Cod inner join T_Membresia memb
on tplan.FK_IM_Cod= memb.PK_IM_Cod inner join T_Frecuencia frec
on tplan.FK_IF_Cod= frec.PK_IF_Cod
where FK_IEC_Cod=@FK_IEC_Cod
ORDER BY DC_Fecha_Creacion desc;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesContratoxUsuarioxEstado]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListarSolicitudesContratoxUsuarioxEstado]
@PK_IC_Dni Char(8),
@FK_IEC_Cod	int
as
begin
select cont.PK_IC_Cod,cont.VC_Descripcion,cont.DC_Fecha_Creacion,
cont.DC_Fecha_Inicio, tplan.IE_Cantidad_Sesion_Nutri, tplan.IP_Cantidad_Sesion_Fisio,
cong.VC_CantidadDias as Congelamiento,memb.Im_Duracion as MembresiaDuracionString, frec.VF_Nombre as FrecuenciaString
from T_Contrato as cont inner join T_Plan tplan
on cont.FK_IP_Cod= tplan.PK_IP_Cod inner join T_Congelamiento cong
on tplan.FK_ICo_Cod= cong.PK_ICo_Cod inner join T_Membresia memb
on tplan.FK_IM_Cod= memb.PK_IM_Cod inner join T_Frecuencia frec
on tplan.FK_IF_Cod= frec.PK_IF_Cod
where FK_CU_Dni= @PK_IC_Dni and FK_IEC_Cod=@FK_IEC_Cod
ORDER BY DC_Fecha_Creacion desc;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDatosUsuario]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ObtenerDatosUsuario](
@DNISocio char(8))
as
begin
select TUsuario.PK_CU_Dni ,TUsuario.VU_Nombre, TUsuario.VU_APaterno,TUsuario.VU_AMaterno,TUsuario.CU_Celular,TUsuario.DU_FechaNacimiento,
TUsuario.FK_ITU_Cod,TUsuario.IU_Citas_Fisio_Usadas,TUsuario.Iu_Citas_Nutri_Usadas,TUsuario.VU_Correo,TUsuario.VU_Direccion
from T_Usuario TUsuario 
 where 
TUsuario.PK_CU_Dni=@DNISocio


	   END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPlanxSocio]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_RegistrarPlanxSocio]
@PK_CU_Dni char(8),
@PK_IP_Cod int,
@VC_Descripcion nvarchar(200),
@DC_Fecha_Inicio datetime
as
begin
insert into T_Contrato(
VC_Descripcion,
DC_Fecha_Creacion,
FK_IEC_Cod,
FK_IP_Cod,
FK_CU_Dni,
DC_Fecha_Inicio,
DC_Fecha_Evaluacion)
values(
@VC_Descripcion,
GETDATE(),
1,
@PK_IP_Cod,
@PK_CU_Dni,
@DC_Fecha_Inicio,
NULL
)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarSocio]    Script Date: 22/07/2020 01:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarSocio]
@PK_CU_Dni char(8),
@VU_Nombre nvarchar(50),
@VU_APaterno nvarchar(50),
@VU_AMaterno nvarchar(50),
@VU_Correo nvarchar(50),
@DU_FechaNacimiento datetime,
--@IU_Edad int,
@NU_Contrasenia nvarchar(50),
--@VU_Estado varchar(200),
@CU_Celular char(9),
@VU_Direccion varchar(200)
--@FK_ITU_Cod int,
--@FK_IC_Cod int
--@IC_Citas_Nutri_Usadas int,
--@IC_Citas_Fisio_Usadas int
AS
begin
INSERT INTO T_Usuario(PK_CU_Dni,
VU_Nombre,
VU_APaterno,
VU_AMaterno,
VU_Correo,
DU_FechaNacimiento,
IU_Edad,
VU_Contrasenia,
VU_Estado,
DU_Fecha_Registro,
CU_Celular,
VU_Direccion,
FK_ITU_Cod,
IU_Citas_Nutri_Usadas,
IU_Citas_Fisio_Usadas)
VALUES(@PK_CU_Dni,
@VU_Nombre,
@VU_APaterno,
@VU_AMaterno,
@VU_Correo,
@DU_FechaNacimiento,
(cast(datediff(dd,@DU_FechaNacimiento,GETDATE()) / 366.25 as int)),
@NU_Contrasenia,
--@VU_Estado,
'Activo - SIN CONTRATO',
GETDATE(),
@CU_Celular,
@VU_Direccion,
1,
0,
0
)
end
GO
USE [master]
GO
